{% extends "header.html" %}
{% block body %}
<head>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script type=text/javascript>
		//fetch_data when button is clicked
		$(function() {
		  $('a#process_input').bind('click', function() {
			$.getJSON('/fetch_data', {
			  proglang: $('input[name="proglang"]').val(),
			}, function(data) {
			  $("#result").text(data.data);
			});
			return false;
		  });
		});

		//fetch_data every sec		
		function fetch_data() {
			$(function() {
				$.getJSON('/fetch_data', {
				  proglang: $('input[name="proglang"]').val(),
				}, function(data) {
				  $("#result").text(data.data);
				});
				return false;
			  });
		}
		setInterval( fetch_data, 1000 );
	</script>
</head>
	
<body class="body">
	<div class="container" align="left">
		<embed type="image/svg+xml" src={{graph_data|safe}} style='max-width:500px'/>
	</div>
	  
	<div class='container'>
		<h3>Welcome! Which is the best programming language of them all?</h3>
			<form>
				<input type=text size=5 name=proglang>
				<a href=# id=process_input><button class='btn btn-default'>Submit</button></a>
			</form>
		<p id=result>...</p>
	</div>
</body>
{% endblock %}