{% extends "header.html" %}
{% block body %}
<style>
.myform-size {
	width: 300px;
}
</style>

<!-- 
#register new user: userid, password  r_
#register new event: event_name, emails, sms_nums, twitter e_ 
#register new blog: title, category, subcategory, summary, blog_file, tags b_
#register new metric: device_name, metric_name1, metric_name2, metric_name3 etc. m_
-->

<div class="container">
	<br>
	<h4>Register Website:</h4>
	<form action="/register/" method="POST">
	    <input type="hidden" name="register_type" value="account"/>
		<p><input type="text" class="form-control myform-size" placeholder = "Email address" name="a_email" required></p>
		<p><input type="text" class="form-control myform-size" placeholder = "Username" name="a_username" required></p>
		<p><input type="password" class="form-control myform-size" placeholder = "Password" name="a_password1" required></p>
		<p><input type="password" class="form-control myform-size" placeholder = "Enter Password Again" name="a_password2" required></p>
		<p><input class="btn btn-default" type="submit" value="Register"></p>
	</form>
	
	<p>{{ error }}</p>
</div>

<div class="container">
	<br>
	<h4>Register Blog:</h4>
	<form action="/register/" method="POST">
		<input type="hidden" name="register_type" value="blog"/>
		<p><input type="text" class="form-control myform-size" placeholder = "Blog Title" name="b_title" required></p>
		<p><input type="text" class="form-control myform-size" placeholder = "Blog Category" name="b_category" required></p>
		<p><input type="text" class="form-control myform-size" placeholder = "Blog Sub-Category" name="b_subcategory"></p>
		<p><input type="text" class="form-control myform-size" placeholder = "Blog Summary" name="b_summary" required></p>
		<p><input type="text" class="form-control myform-size" placeholder = "Blog File" name="b_blog_file" required></p>
		<p><input type="text" class="form-control myform-size" placeholder = "Blog Tags" name="b_tags" required></p>
		<p><input class="btn btn-default" type="submit" value="Submit"></p> 
	</form>
	
	<p>{{ error }}</p>
</div>

<div class="container">
	<br>
	<h4>Register Event:</h4>
	<form action="/register/" method="POST">
		<input type="hidden" name="register_type" value="event"/>
		<p><input type="text" class="form-control myform-size" placeholder = "Event Name" name="e_event_name" required></p>
		<p><input type="text" class="form-control myform-size" placeholder = "Emails to notify" name="e_emails" required></p>
		<p><input type="text" class="form-control myform-size" placeholder = "SMS Numbers to notify" name="e_sms_nums"></p>
		<p><input type="text" class="form-control myform-size" placeholder = "Twitter notification" name="e_twitter" required></p>
		<p><input class="btn btn-default" type="submit" value="Submit"></p> 
	</form>
	
	<p>{{ error }}</p>
</div>
	
{% endblock %}