{% extends "header.html" %}
{% block body %}
<div class="col-lg-12 col-md-12 col-xs-12">
<h4>REST API design summary and how-to</h4>
<pre>
This blog summarizes rest API design of this server and how to use.

1. Purpose:
 
	To trigger email, sms, twitter notification in case that monitoring event happens.
	Client monitors specific event in target, and issue HTTP GET/POST to trigger notification if that event happens

2. Available API, Supported HTTP methods, and expected return:   

	URL:SERVER_URL/api/events
	Method: HTTP GET
	Return: Details about all currently available events
	
	URL:SERVER_URL/api/events/<specific_event>
	Method: HTTP GET
	Return: specific_event details
	
	URL:SERVER_URL/api/events
	Method: HTTP POST
	Return: Create new event to monitor
	
	URL:SERVER_URL/api/events/<specific_event>
	Method: HTTP PUT
	Return: Update specific_event
	
	URL:SERVER_URL/api/events/<specific_event>
	Method: HTTP DELETE
	Return: Delete specific_event	
	
	URL:SERVER_URL/api/events/trigger/<specific_event>
	Method: HTTP GET, HTTP POST
	Return: Trigger notification for specific_event.
	        HTTP GET triggers email, sms, twitter. PUT can trigger to only specific target	


3. How-toeExamples:
	RESTClient code available in <a herf="{{ url_for('sharing_and_fun') }}">sharing</a>

	REST_SERVER = 'http://server_IPaddr_or_Domain_name'
	REST_USERNAME = 'your_username_here'
	REST_PASSWORD = 'your_password_here'
	
	with RESTClient(base_url=REST_SERVER, auth='basic', username=REST_USERNAME, password=REST_PASSWORD) as client:
	
	    # Test1: get all events
	    try:
	        pprint(client.get('/api/events/'))
	    except requests.exceptions.ConnectionError:
	        print 'Cannot connect to {}'.format(REST_SERVER)
	    print
	    
	    # Test2: get only 1 event
	    try:
	        pprint(client.get('/api/events/3G_OVERAGE/'))
	    except requests.exceptions.ConnectionError:
	        print 'Cannot connect to {}'.format(REST_SERVER)
	    print
	    
	    # Test 3: create new event  
	    json_data = {
	        "event_name": "ANOTHER_EVENT",
	        'emails': [u'inzoolee@hotmail.com'],
	        'sms_nums': [u'+14041111111'],                        
	        'twitters': False,
	    }          
	    pprint(client.post('/api/events/', json_data))
	    print
	
	    # Test 4: update existing event  
	    json_data = {
	        "event_name": "3G_OVERAGE",
	        'emails': [u'inzoolee@hotmail.com', u'test@test.com', u'test@test.com'],
	        'sms_nums': [u'+14041112222', u'+14101112345'],                        
	        'twitters': True,
	    }          
	    pprint(client.put('/api/events/3G_OVERAGE/', json_data))
	    print
	        
	    # Test 5: trigger notification for specific event 
	    json_data = {
	        "event_name": "3G_OVERAGE",
	        'targets': ['email', 'sms', 'twitters' ],
	    }          
	    pprint(client.post('/api/events/trigger/3G_OVERAGE', json_data))
	    print
	
	    # Test 6: delete existing event    
	    pprint(client.delete('/api/events/ANOTHER_EVENT/'))
	    print
</pre>  
</div>      
{% endblock %}
